$white:     #fff;
$light:     #f3f3f3;
$silver:    #cecece;
$dark:      #333;
$black:     #232423;

$link:         #29297A;
$link-visited: #B665C2;

$font-family-base: 'Merriweather', serif;
$font-heading: 'Oswald', sans-serif;